{% extends "home.html" %}

{% block 'content'%}

<lu>
{% for writer in writers %}
   <li><a href="{% url 'writer_detail' writer.id%}">{{ writer.name }} {{ writer.last_name }}</li></a>
{% endfor %}
</lu>

{% endblock %}

