<!DOCTYPE html 
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2" />
	<meta name="Description" content="Tu wpisz opis zawartości strony" />
	<meta name="Keywords" content="Tu wpisz wyrazy kluczowe rozdzielone przecinkami" />
    <link rel="stylesheet" href="static/style.css" type="text/css" />	
    <title>Moja Aplikacja</title>
</head>
<body>
    <nav>
			<div class="nav">	
				<ol>
					<li><a href="">Home</a></li>
					<li><a href="newsletter">Newsletter</a></li>
					<li><a href="writers">Writers</a></li>
					<li><a href="contacts">Contacts</a></li>
                </ol>
			</div>
					
					
			</div>   
    </nav>
    {% block 'content' %}
    {% endblock %}

</body>
</html>
