body
{
	background-color: #ffffff;
	margin: 0 !important;
}

#wrapper
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
}

#logo
{
	text-align: center;
	color: #DAA520;
	font-family: 'Ruthie', cursive;
	font-size: 100px;
	z-index: 0;
	padding-top: 20px;
}

.socials
{
	float: right;
	margin-right: 20px;
	margin-bottom: 6px;
}


.fb
{
	float: left;
	font-size: 30px;
	width: 90px;
	color: #DAA520;
	z-index: -1;
	transition: transform 0.4s;
}

.fb:hover
{
	transform: scale(1.20);
}

.tw
{
	float: left;
	font-size: 30px;
	width: 90px;
	color: #DAA520;
	z-index: -1;
	transition: transform 0.4s;
}

.tw:hover
{
	transform: scale(1.15);
}

.insta
{
	float: left;
	font-size: 30px;
	width: 90px;
	color: #DAA520;
	z-index: -1;
	transition: transform 0.4s;
}

.insta:hover
{
	transform: scale(1.15);
}

.pint
{
	float: left;
	font-size: 30px;
	width: 90px;
	color: #DAA520;
	z-index: -1;
	transition: transform 0.4s;
}

.pint:hover
{
	transform: scale(1.15);
}

.nav
{
	clear: both;
	text-align: center;
	width: 100%;
	padding: 0px 0;
	font-family: 'Pacifico', cursive;
	background-color: #ffffff;
	margin-bottom: 11px;
	border-top-style: ridge;
	border-bottom-style: ridge;
	border-top-color: #DAA520;
	border-bottom-color:  #DAA520;
}

.sticky
{
width: 100%;
position: fixed;
left: 0;
top: 0;
z-index: 100;
}


ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 23px;
	height: 40px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #DAA520;
	text-decoration: none;
	display: block;

}

ol > li
{
	float: left;
	width: 140px;
	height: 30px;
}

ol > li:hover > a
{
	color: #c1c1c1;
}

a:focus 
{ 
	outline:none; 
}


.footer
{
	text-align: center;
	width: 100%;
	height: 160px;
	background: grey; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, grey); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, grey); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, grey); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, dimgrey); /* Standard syntax (must be last) */
}


